
<% if @invite.errors.any? %>
  <% @invite.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<div class="row">
  <h1>Now invite friends to support you in your challenge</h1>
</div>
<div class="invite-form">
  <%= simple_form_for [@challenge, @invite], 
      html: { class: "" },
      remote: true do |f| %>
    <div class="row">
      <div class="small-9 column">
        <%= f.input :email %>
      </div>
    </div>
    <div class="row">
      <div class="small-9 column">
        <%= f.input :challenge_id, as: :hidden, input_html: { value: @challenge.id } %>
            <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>

<div class="row"><div><h3>Friends you invited as mentors</h3></div></div>
<div class="row" id="invites">
  
  <%= render(@invites) %>
</div>