
<%= link_to 'Finish setup', front_challenges_path , class: 'button' %>

<div>
  Add the different sub-goals want to achieve:
</div>
<%= simple_form_for [:front, :learning, @challenge, @new_milestone], remote: true do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>

<div class="milestones">
  <%= render partial: 'front/learning/milestones/milestone', collection: @milestones %>
</div>

<div class="hidden">
  <%= simple_form_for [:front, :learning, @challenge, @update_milestone] do |f| %>
  <%= f.input :name, as: :hidden %>
  <%= f.input :days, as: :hidden %>
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Finish setup', front_learning_challenge_path(@challenge, challenge: { id: @challenge.id }, redirect_url: root_path) , class: 'button', method: 'patch' %>