
<% if sub_milestone.id %>
  <div class="sub_milestone box" id=
    <%="sub_milestone_#{sub_milestone.id}"%>
  >
    <div class="row">
      <div class="column large-2">
      </div>
      <div class="column large-3">
        <%= "Name: #{sub_milestone.name}" %>
      </div>
      <div class="column large-2">
        <%= select_tag "#select_days_milestone_{sub_milestone.id}", options_for_select((0..100).to_a, sub_milestone.days), class: 'select_sub_milestone_days', data: { url: front_learning_sub_milestone_path(sub_milestone), days: sub_milestone.days, parent_id: sub_milestone.milestone_id } %>
      </div>
      <div class="column large-3">
        <%= "Planned for #{sub_milestone.days.to_s} days" %>
      </div>
      <div class="column large-2">
        <%= link_to 'delete', front_learning_sub_milestone_path(id: sub_milestone.id), remote: true, method: :delete %>
      </div>      
    </div>
    <div class="row">
      <div class="column large-10">
        <%= sub_milestone.completed_at ? "Milestone completed at #{sub_milestone.completed_at}" : "Milestone not completed" %>
      </div>
      <div class="column large-2">
        
      </div>
    </div>
  </div>

  <div class="sub_milestones">
  </div>
<% end %>