<div class="background_color">
  <div class="second_layer">
    <h1>Updates from your mentees</h1>
    <% if @mentored_challenges %>
      <% @mentored_challenges.each do |challenge| %>
        <%= "#{challenge.challenger.email}'s challenge is " %>
        <%= link_to challenge.status, front_challenge_path(challenge) %>
        <%= "It started #{time_diff_string(challenge.start_date.utc, Time.now.utc)} ago" %>
        <%= Time.now %><br>
        <%= challenge.start_date %>
      <% end %>

    <% end %>
  </div>
  <div class="second_layer">
    <h1>Check your current challenges</h1>
    <% if @challenges %>
      <% @challenges.each do |challenge| %>
    <div class="row">
        <div class="small-3 column">
          <%= link_to "Your #{challenge.typus} Challenge", front_challenge_path(challenge) %>
        </div>
        <div class="small-3 column">
          <%= challenge.start_date.strftime("%e. %B %Y") %>
        </div>
        <div class="small-3 column">
          <%= challenge.end_date.strftime("%e. %B %Y") %>
        </div>
        <div class="small-3 column">
          <%= (challenge.time_progress).round.to_s + "% of the challenge is over!" %>
        </div>
    </div>
      <% end %>
    <% else %>
    <div>
      Start a new challenge! %>
    </div>
    <% end %>
    <%= link_to "Add a new challenge", new_front_challenge_path %>
  </div>
</div>