Check your current challenges
<% if @challenges %>
  <% @challenges.each do |challenge| %>
<div class="row">
    <div class="small-3 column">
      <%= link_to challenge.typus, front_challenge_path(challenge) %>
    </div>
    <div class="small-3 column">
      <%= challenge.start_date.strftime("%e. %B %Y") %>
    </div>
    <div class="small-3 column">
      <%= challenge.end_date.strftime("%e. %B %Y") %>
    </div>
    <div class="small-3 column">
      <%= (challenge.time_progress).round.to_s + "% of the challenge is over!" %>
    </div>
</div>
  <% end %>
<% else %>
<div>
  Start a new challenge! %>
</div>
<% end %>
<%= link_to "Add a new challenge", new_front_challenge_path %>

<%= debug current_user %>