<div class="background_color">
  <div class="second_layer">
    <h1>Updates from your mentees</h1>
    <% if @mentored_challenges %>
      <% @mentored_challenges.each do |challenge| %>
        <div class= "row">
          <div class="column large-12">
            <%= "#{challenge.challenger.email} has completed his last milestone " %>
            <%= "#{time_diff_string(challenge.last_milestone.completed_at.utc, Time.now.utc)} ago. The challenge is #{challenge.status}." %>
          </div>
          <div class="row">
            <div class="column large-6">
              <%= link_to "Send a quick message of encouragement", front_challenge_path(challenge), class: "button" %>
            </div>
          </div>
        </div>
        
      <% end %>

    <% end %>
  </div>
  <div class="second_layer">
    <h1>Check your current challenges</h1>
    <% if @challenges %>
      <% @challenges.each do |challenge| %>
    <div class="row">
        <div class="small-3 column">
          <%= link_to "Your #{challenge.typus} Challenge", front_challenge_path(challenge) %>
        </div>
        <div class="small-3 column">
          <%= challenge.start_date.strftime("%e. %B %Y") %>
        </div>
        <div class="small-3 column">
          <%= challenge.end_date.strftime("%e. %B %Y") %>
        </div>
        <div class="small-3 column">
          <%= (challenge.time_progress).round.to_s + "% of the challenge is over!" %>
        </div>
    </div>
      <% end %>
    <% else %>
    <div>
      Start a new challenge! %>
    </div>
    <% end %>
    <%= link_to "Add a new challenge", new_front_challenge_path %>
  </div>
</div>