<div class="row errors">
  <div class="small-9 column">
    <%= render partial: "error", locals: { object: @invite } %>
  </div>
</div>

<div class="row">
  <div class="small-10 column">
    <%= render partial: "challenge_details", locals: { challenge: @challenge } %>
  </div>
  <div class="small-2 column">
    <%= render partial: "challenge_settings", locals: { challenge: @challenge, challenge_setting: @challenge_setting } %>
  </div>
</div>

<div id="milestones" class="hidden">
  <% if @milestones.size == 0 %>
    <div class="row">
      <div class="small-9 column">
        <p>
          No milestones finished yet. ;(
        </p>
      </div>
    </div>
  <% else %>
    <%= render @milestones %>
  <% end %>
</div>






<div class="row">
  <div class="small-9 column">
    <h2>Invite your friends as mentors</h2>
  </div>
</div>
<div class="row invite-form">
  <div class="small-9 column">
    <%= simple_form_for [:front, @challenge, @invite], 
        remote: true do |f| %>
      <%= f.input :email %>
      <%= f.input :challenge_id, as: :hidden, input_html: { value: @challenge.id } %>
          <%= f.button :submit %>
    <% end %>
  </div>    
</div>

<div class="row mentor-list">
  <div class="small-9 column">
    <h3>Friends you invited as mentors</h3>
  </div>
</div>
<div class="row" id="invites">
    <%= render(@invites) %>
</div>