<div id="message_form">
  <%= simple_form_for [:front, @conversation] do |g| %>
    <%= g.input :challenge_id, as: :hidden, input_html: { value: @challenge.id } %>
    <%= g.simple_fields_for :messages, @message do |f| %>
      <%= f.input :subject %>
      <%= f.input :text, as: :text %>
      <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id } %>
      <%= f.input :recipient_id, as: :hidden, input_html: { value: @conversation.challenge.user_id } %>
        <%= f.input :sender_id, as: :hidden, input_html: { value: current_user.id } %>
      <% end %>
    
    <%= g.button :submit %>
  <% end %>
</div>