
<h2>How long should the challenge go?</h2>
  <div class="day_select">
    <% @days.each do |day| %>
      <%= link_to "#{day} days", '#', { class: "days", "data-days"=> day } %>
    <% end %>
  </div>

  <div class="milestones_select">
    <% @milestones.each do |milestone| %>
      <%= link_to "#{milestone} times", '#', { class: 'times', "data-times" => milestone } %>
    <% end %>
  </div>

<%= simple_form_for @challenge do |f| %>
  <%= f.input :start_date, as: :hidden %>
  <%= f.input :end_date, as: :hidden,  input_html: { value: Time.now + 30.days } %>
  <%= f.input :typus, as: :hidden,  input_html: { value: @typus } %>
  <%= f.input :number_of_milestones, as: :hidden %>
  <%= f.button :submit %>

<% end %>

<%= debug @challenge.start_date.to_i %>
<%= debug 30.days %>
