<div class="background_color">
  <div class="second_layer">
    <h1>Define your Running Challenge</h1>
       <div class="day_button_box" 
        data-initial=<%= "#{@days.first}" %>
       >
        <h4>How many days will your challenge go?</h4>
        <div class="row">
          <% @days.each do |day| %>

              <%= link_to day, 
              '#',
              { class: ["small", "button", "days", "inactive"],
              id: "#{day}_days",
              "data-days" => "#{day}" }
              %>
            
          <% end %>
        </div>
      </div>


    
      <div class="milestones_box hidden"
        data-initial= <%= "#{@milestones.first}" %>
      >
        <h4>How many runs will you complete during your challenge?</h4>
        <div class="row">
          <% @milestones.each do |milestone| %>
            <%= link_to milestone, 
            '#',
            { class: ["small", "button", "times", "inactive"],
            id: "#{milestone}_times",
            "data-times" => "#{milestone}" }
            %>
          <% end %>
        </div>      
      </div>
    <div class="hidden submit_box">
      <h4>Alright, let's get on with this challenge :)</h4>
      <%= simple_form_for [:challenger, @challenge] do |f| %>
        <%= f.input :start_date, as: :hidden %>
        <%= f.input :end_date, as: :hidden,  input_html: { value: Time.now + @days.first.days } %>
        <%= f.input :typus, as: :hidden,  input_html: { value: @typus } %>
        <%= f.input :number_of_milestones, as: :hidden, input_html: { value: @milestones.first } %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
