<% @conversation2.messages.each do |message| %>
  <div class="box">
    <div class="row">
      <div class="column large-4">
        <%= "Sent #{time_diff_string(message.created_at, Time.now)} ago." %>
      </div>          
      <div class="column large-4">
        <%= "Sender: #{message.sender.email}" %>
      </div>
      <div class="column large-4">
        <%= "Subject: #{message.subject}" %>
      </div>    
    </div>
      <div class="row">
      <div class="column large-8">
        <%= "Content: #{message.text}" %>
      </div>
      <div class="column large-4">
      </div>                
    </div>
  </div>
<% end %>

<%= render partial: "/front/messages/new_message", locals: { challenge: @challenge, conversation: @conversation, user: current_user, message: @message } %>